html.light {
  --el-menu-active-color: #409eff;
  --el-menu-text-color: #bfcbd9;
  --el-menu-hover-text-color: var(--el-color-primary);
  --el-menu-bg-color: #304156;
  --el-menu-hover-bg-color: #263445;
  --el-menu-item-height: 56px;
  --el-menu-border-color: none;

  --pregress-bar-color: #409eff;
}
